*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: rgba(50, 50, 125, 0.655);
}

h1{
  font-family: Arial Black; 
  font-weight: bold; 
  font-size: 3rem; 
  background: #202020; 
  background-clip: text; 
  color: transparent; 
  text-shadow: 1px 3px 3px rgba(255,255,255,0.4), 0px -1px 1px rgba(110, 3, 3, 0.628);
}

h3{
  font-family: Arial Black; 
  font-weight: bold; 
  font-size: 2.5rem; 
  background: #202020; 
  background-clip: text; 
  color: transparent; 
  text-shadow: 1px 3px 3px rgba(176, 175, 175, 0.488), 0px -1px 1px rgba(0, 0, 0, 0.628);
}

.portada{
  border-radius: 47px;
  box-shadow:  21px 21px 42px #bdbdbd,
             -21px -21px 42px #3e020267;  
}

.contenedor{
  background-color: #e0dfdfa7;
}