*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: rgba(50, 50, 125, 0.655);
}

h1{
  font-family: Arial Black; 
  font-weight: bold; 
  font-size: 3rem; 
  background: #202020; 
  background-clip: text; 
  color: transparent; 
  text-shadow: 1px 3px 3px rgba(255,255,255,0.4), 0px -1px 1px rgba(110, 3, 3, 0.628);
}

p{
  font-family: Arial Black; 
  font-weight: bold; 
  font-size: 1.1rem; 
  background: #202020; 
  background-clip: text; 
  color: transparent; 
  text-shadow: 1px 3px 3px rgba(176, 175, 175, 0.488), 0px -1px 1px rgba(98, 5, 5, 0.752);
}

h5{
  font-family: Arial Black; 
  font-weight: bold; 
  font-size: 3rem; 
  background: #202020; 
  background-clip: text; 
  color: transparent; 
  text-shadow: 1px 3px 3px rgba(255,255,255,0.4), 0px -1px 1px rgba(110, 3, 3, 0.628);
}

.portada{
  border-radius: 47px;
  box-shadow:  21px 21px 42px #bdbdbd,
             -21px -21px 42px #3e020267;  
}

.contenedor{
  background-color: #e0dfdfa7;
  display: grid;
  grid-template-columns: repeat(auto-fill, 205px);
  gap: 20px;
  padding: 40px;
  font-size: 22px;
  text-align: center;
  font-weight: bold;
  justify-content: center;
  border-radius: 30px;
}

.cards{
  border-radius: 30px;
}
